:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f6f6f6;
  background-color: #2f2f2f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0 10px;
}

body, form {
  display: flex;
  flex-direction: column;
}

#toolSelect {
  margin-top: 10px;
}

input,
button,
select,
#toolPath {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button,
select,
#toolPath {
  border-radius: 8px;
}

button {
  cursor: pointer;
}

button:hover {
  background: #0d0d0d;
}

button:not(:disabled):active {
  border-color: #396cd8;
  background: dodgerblue;
}

select:active,
option:hover {
  background: dodgerblue;
}


input,
button,
select {
  outline: none;
  color: #ffffff;
  background-color: #0f0f0f98;
}

p {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

input {
  width: 100%;
  box-sizing: border-box;
}

#inputs p:first-of-type input { 
  border-radius: 8px 8px 0 0; 
}

#inputs p:last-of-type input { 
  border-radius: 0 0 8px 8px; 
}

i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bi-eye-fill,
.bi-eye-slash-fill {
  right: 40px;
}

.bi-info-square {
  right: 10px;
}


#mode {
  width: 100%;
  margin-bottom: 10px;
}

#mode:not(:disabled):hover {
  cursor: pointer;
}

option {
  background: #222;
  padding: 10px;
  font-size: 1.2rem;
}

form {
  flex: 1;
}

textarea {
  box-sizing: border-box;
  background: #0f0f0f;
  resize: none;
  width: 100%;
  padding: 10px;
  flex: 1;
  color: white;
  font-size: 1.1rem;
}

input:disabled,
button:disabled,
select:disabled,
#toolPath {
  background: #0002;
  color: #aaa;
}

#mode:disabled:hover,
button:disabled {
  cursor: not-allowed;
}

.pass:hover {
  color: rgb(133, 246, 127);
  cursor: pointer;
}

i:hover {
  color: #57b1f2;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover::after {
  content: "Please select the Build Patch Tool";
  background-color: #111;
  color: white;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}


.tip {
  position: absolute;
  display: block;
  width: calc(100% - 40px);
  z-index: 10000000;
  font-size: 1.1rem;
  padding: 20px;
  background: #1856d2;
  text-align: justify;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-reveal {
    display: none;
}

#toolSelect {
  border-radius: 12px 12px 0 0;
}

#toolPath {
  display: block;
  margin-bottom: 10px;
  font-size: .8rem;
  border-radius: 0 0 12px 8px;
  background: #222;
}

::-webkit-scrollbar {
  width: 14px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #222;
}

::-webkit-scrollbar-corner {
  background-color: #333;
}

footer {
  display: flex;
  place-items: center;
  gap: 10px;
  margin: 10px 0px;
}

footer > * {
  flex: 1;
}

button {
  box-sizing: border-box;
  width: 100%;
}

#save,
#clear,
#reload {
  margin: 10px 0;
}


#execute {
  margin-bottom: 10px;
}

#kofi button,
#docs button,
#help button,
#save,
#reload,
#clear,
#execute {
  font-weight: bold;
  transition: .3s;
}

#kofi:hover button,
#docs:hover button,
#help:hover button,
#save:not(:disabled):hover,
#execute:not(:disabled):hover {
  color: black;
  transform: scale(1.02);
}


#kofi:hover button            { background: rgb(61, 194, 255);        }
#docs:hover button            { background: rgb(242, 242, 61);        }
#help:hover button            { background: rgb(245, 105, 255);        }
#save:not(:disabled):hover    { background: rgb(126, 250, 73);        }
#reload:not(:disabled):hover  { background: #dda852;                  }
#clear:not(:disabled):hover   { background: #e5edee; color: black;  }
#execute:not(:disabled):hover { background: #f95959;                  }

#formButtons {
  display: flex;
  gap: 10px
}